.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include base-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include base-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea,
div.wpcf7 select,
.main-search-section select {
  @include base-text;
  @include input-style;
}
div.wpcf7 select, .main-search-section select {
  -webkit-appearance: none;
  background-image: url("../icons-all/form-geo.png");
}
.main-search-section select {
  line-height: 0.5rem;
  border: 1px solid $brown;
  border-radius: 0;
  padding-right: size(20);
  padding-left: size(24);
  background-image: url("../icons-all/select-arrow.png");
  background-position: size(13) center;
  background-size: size(13);
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $green-theme;
  outline: 0;
  box-shadow: unset;
}
div.wpcf7 textarea {
  height: size(69);
  background-image: url("../icons-all/form-textarea.png");
  background-position: calc(100% - 6px) 8px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../icons-all/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../icons-all/form-tel.png");
}
div.wpcf7 button[type="submit"], .btn-search,
.home-link, .search-post-link {
  position: relative;
  @include d-center;
  height: size(35);
  background-color: $green-theme;
  @include base-text;
  color: $brown;
  font-weight: 700;
  width: 100%;
  border-radius: 0;
  border: 2px solid $green-theme;
  transition: color, background-color .5s;
  &:after {
	position: absolute;
	left: 6px;
	content: '';
	@include arrow-link;
  }
  &:hover {
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: $brown;
	transition: color, background-color .5s;
	&:after {
	  background-color: $brown;
	  transition: background-color .5s;
	}
  }
}
.search-post-link {
  align-self: flex-start;
  width: auto;
  padding: 3px size(12) 3px size(56);
}
.home-link {
  color: #d8d9dd;
  align-self: center;
  height: size(31);
  width: auto;
  padding: 3px size(32) 3px size(56);
  background-color: $brown;
  border: 2px solid $brown;
  &:after {
	background-color: $green-theme;
	background-image: url("../icons-all/link-arrow.png");
  }
  &:hover {
	color: $brown;
	border: 2px solid $green-theme;
	background-color: $green-theme;
	transition: color, background-color .5s;
	&:after {
	  background-image: url("../icons-all/arrow-left.png");
	  background-color: $brown;
	  transition: background-color .5s;
	}
  }
}
.repeat-form-wrap {
  padding: size(20);
  background-image: url("../img/form-back.png");
  @include back-img;
  margin-bottom: size(20);
}
.simple-repeat-form {
  .repeat-form-wrap {
	background-image: none;
	background-color: $brown;
  }
}
.form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-title {
  @include mid-text;
  color: $green-theme;
  font-weight: 700;
}
.form-subtitle {
  @include base-text;
  color: #ffffff;
}
.post-form-wrap {
  background-image: url("../img/post-form-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: size(10) 10%;
  margin-bottom: size(25);
}
.place-form-wrap {
  .logo-form img {
	width: size(155);
  }
}
.logo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: size(16);
  img {
	width: size(65);
  }
}
//Popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  background-color: #ffffff;
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
  .form-col {
	position: relative;
	background-image: url("../img/post-form-back.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: size(15) 10%;
  }
  .form-subtitle {
	font-size: size(24);
	line-height: size(26);
	margin-bottom: 1rem;
  }
}
.close-form {
  position: absolute;
  top: size(19);
  right: size(22);
  cursor: pointer;
}
//Search form
.search-section-back {
  background-image: url("../img/search-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: size(25) 5% size(10) 5%;
  margin: 10px 0;
}
.form-group {
  padding: 0 5px;
  margin-bottom: 0.5rem;
}
//Contact page
.contact-form-col {
  background-image: url("../img/contact-form-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .form-col {
	padding: 5% 15%;
  }
}
.logo-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  padding: 5px;
  img {
	width: 5rem;
  }
  margin-bottom: -2.5rem;
}
.contact-col-back {
  background-color: $green-theme;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2.5rem;
}
.contact-green-row {
  background-color: $green-theme;
  padding: size(20) 0;
}
.contact-d-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  .base-text {
	color: $brown;
  }
  &:hover .base-text {
	color: $brown;
  }
}
.sticky-form {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100%;
}
