.header-tel {
  display: flex;
  align-items: center;
  &:hover {
	.tel-text {
	  color: #ffffff;
	  transition: color .5s;
	}
  }
  img {
	margin-left: size(20);
	width: size(28);
  }
}
.tel-text {
  transition: color .5s;
}
//Search line
.wrap-search {
  padding: 0 10px;
}
.search-form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $brown;
}
.search-input {
  background-color: transparent;
  color: $brown;
  font-size: size(18);
  width: size(180);
  &::placeholder {
	color: #000000 !important;
	font-size: size(18);
	font-weight: 300;
  }
}
.search-submit {
  width: size(30);
  height: size(30);
  background-image: url("../icons-all/search-icon.png");
  background-position: center;
  background-size: size(18);
  background-repeat: no-repeat;
  background-color: transparent !important;
}
//Footer
footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/footer-back.png");
}
.footer-main {
  padding-top: size(90);
  padding-bottom: size(66);
}
.foo-menu {
  padding-top: 1rem;
}
.foo-title {
  @include base-24-text;
  font-weight: 700;
  text-align: right;
  margin-bottom: size(15);
}
.hop-hey.four-columns {
  column-count: 3;
  column-gap: 1.5rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a {
	  display: flex;
	  @include base-text;
	  font-weight: 400;
	  margin-bottom: 10px;
	  &:hover {
		color: $brown;
	  }
	}
  }
}
.main-footer-menu {
  li {
	a {
	  font-weight: 700;
	}
  }
}
#go-top {
  position: absolute;
  top: size(37);
  right: size(23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  background-color: $brown;
  padding: size(10);
  animation: jump-top 1.2s ease-in-out alternate infinite;
}
.socials-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  a {
	margin: 0 size(5);
	&:first-child {
	  margin: 0 0 0 size(5);
	}
  }
  .fab {
	font-size: size(21);
	color: #000000;
	transition: color .5s;
	&:hover {
	  color: $brown;
	  transition: color .5s;
	}
  }
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;
	  justify-content: center;
	  padding: 1.5rem 0;
	  a {
		@include base-text;
		text-align: center;
		font-weight: 700;
		padding: 0 size(12);
		border-left: 1px solid $brown;
	  }
	  &:last-child a {
		border-left: none;
	  }
	}
  }
  .back-to-menu, .sub-head {
	display: none;
  }
  ul.sub-menu {
	opacity: 0;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	pointer-events: none;
	position: absolute;
	top: 100%;
	z-index: 9;
	transition: all .5s;
	li {
	  flex-direction: row;
	  border: none;
	  padding: 0 !important;
	  &:last-child a {
		border-left: none;
	  }
	}
	li a {
	  background-color: #ffffff;
	  font-size: size(20);
	  font-weight: 400;
	  padding: 0 5px;
	  transition: color .5s;
	  &:hover {
		color: $green-title;
		transition: color .5s;
	  }
	}
  }
}
.menu-item-has-children:hover {
  ul.sub-menu {
	opacity: 1 !important;
	pointer-events: all !important;
	transition: all .5s;
  }
}
header {
  padding: 1rem 0;
}
.header-main {
  background-color: $green-theme;
  position: relative;
}
.logo {
  padding: 5px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}
//Triggers
.triggers-wrap {
  position: fixed;
  left: 0;
  top: 20%;
  z-index: 999999;
  img {
	max-height: size(56);
	margin-bottom: 4px;
  }
}
.side-title {
  @include small-text;
  color: #ffffff;
  text-align: center;
}
.pop-trigger, .menu-trigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: size(84);
  padding: size(5) size(10) size(5) size(10);
}
.menu-trigger {
  background-color: $brown;
  margin-bottom: size(15);
}
.pop-trigger {
  padding: size(11);
  background-color: $green-theme;
  img {
	max-height: size(41);
	margin-bottom: 4px;
  }
}
.pop-text-trigger {
  @include small-text;
  text-align: center;
  color: $brown;
}
