.post-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.post-item-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 9px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 64%;
  }
}
.home-post-item-img {
  margin-bottom: 0;
  margin-left: size(33);
  flex: 0 0 20%;
  max-width: 20%;
  &:after {
	padding-bottom: 96%;
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: size(20);
  flex-grow: 1;
}
.post-item-title, .search-cat-title {
  @include mid-text;
  color: $brown;
  margin-bottom: size(5);
}
.search-cat-title {
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #000000;
}
.border-padding {
  padding-top: 1.72rem;
  border-bottom: 2px solid #000000;
  margin-bottom: size(26);
}
.post-preview {
  @include base-text;
  margin-bottom: size(8);
  padding-left: 10%;
}
.date-preview {
  @include base-text;
  color: $green-title;
  font-weight: 700;
}
.post-col {
  margin-bottom: 2rem;
}
.post-info {
  font-size: size(18);
  line-height: size(18);
  font-weight: 400;
  color: $green-title;
  margin-bottom: 5px;
}
.post-subtitle {
  @include base-24-text;
  color: $green-title;
  margin-bottom: size(17);
  transition: color .5s;
}
.cats-wrap {
  display: flex;
  align-items: center;
  .post-subtitle, .post-info {
	margin-left: size(30);
	&:hover {
	  color: $brown;
	  transition: color .5s;
	}
	&:last-child {
	  margin-left: 0;
	}
  }
  .post-info {
	margin-left: size(10);
  }
}
//Slider styles
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  z-index: 33;
  background-repeat: no-repeat;
  background-size: size(12);
  background-position: center;
  width: size(22);
  height: size(22);
  background-color: $brown;
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 99%;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/arrow-right.png");
	right: -15px;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/arrow-left.png");
	left: -15px;
  }
}
.gallery-arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1rem);
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  [dir="rtl"] .slick-next{
	left: 0;
  }
}
.slider-img {
  width: 100%;
}
//Category card
.cat-item-image {
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: size(19);
  &:after {
	content: '';
	display: block;
	padding-bottom: 88.5%;
  }
}
.cat-item-title {
  @include mid-text;
  text-align: center;
  color: $brown;
  font-weight: 700;
  transition: color .5s;
  &:hover {
	color: $green-title;
	transition: color .5s;
  }
}
.cat-loc-img {
  margin-bottom: 0;
  position: relative;
  &:after {
	padding-bottom: 81.7%;
  }
}
.cat-location {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .cat-item-title {
	font-size: size(48);
	line-height: size(48);
	&:hover {
	  color: $brown;
	}
  }
}
.cat-col {
  margin-bottom: 1.5rem;
}
//Post home
.post-home-item {
  .post-item-title {
	font-weight: 700;
  }
}
.locs-wrap {
  .post-info {
	@include base-text;
	color: $green-title;
	transition: color .5s;
	&:hover {
	  color: $brown;
	  transition: color .5s;
	}
  }
}
//Home post
.home-post-item-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: size(16);
  &:last-child {
	margin-bottom: 0;
  }
}
.home-post-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
//Card search
.search-item-col {
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-bottom: size(40);
}
.search-card {
  flex-direction: row;
  padding: size(30) size(20);
  .post-item-img {
	margin-bottom: 0;
  }
  .post-item-content {
	padding-right: 5%;
  }
}
