/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1200px) {
  html{
	font-size: 22px;
  }
  .container {
	max-width: 85%;
  }
}
@media (min-width: 1750px) {
  html{
	font-size: 24px;
  }
  .hop-hey.four-columns {
	column-count: 4;
	column-gap: 2rem;
  }
  .post-preview {
	padding-left: 20%;
  }
  .post-video-item {
	&:after {
	  padding-bottom: 29%;
	}
  }
}
@media (max-width: 1500px) {
  .btn-search {

  }
}
/* Extra large devices (large desktops, 1200px and up) */

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .hop-hey.four-columns {
	column-count: 2;
	column-gap: 2rem;
  }
  .post-preview {
	padding-left: 0;
  }
  .post-item-content {
	padding-right: 0;
  }
  .img-col-main {
	order: -1;
	margin-bottom: 2rem;
  }
  .home-post-item-img {
	flex: 0 0 35%;
	max-width: 35%;
  }
  .search-title {
	font-size: size(36);
	line-height: size(36);
  }
  .search-text {
	font-size: size(30);
	line-height: size(30);
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .repeat-form-wrap {
	.form-col {
	  margin-bottom: size(20);
	}
  }
  .contacts-footer-menu {
	order: 2;
  }
  .hop-hey.four-columns {
	column-count: 3;
	column-gap: 1rem;
  }
  .links-footer-menu {
	order: 3;
  }
  .post-item-content {
	padding-right: size(20);
  }
  .post-preview {
	padding-left: 20%;
  }
  .slider-wrap-col {
	margin-bottom: 2rem;
  }
  .contact-d-col:first-child {
	margin-bottom: 1.5rem;
  }
  .contact-col-back {
	&:after {
	  content: '';
	  display: block;
	  padding-bottom: 90%;
	}
  }
  .repeat-form-col {
	align-items: center !important;
	.form-title, .form-subtitle {
	  text-align: center;
	}
  }
  .col-link-img-wrap {
	margin-bottom: 2rem;
	min-height: size(600);
  }
  .header-tel {
	img {
	  margin-left: 5px;
	  width: size(18);
	}
  }
  .tel-text {
	font-size: size(20);
	line-height: size(22);
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .header-main {
	padding: 1rem 0;
  }
  .header-logo-col {
	flex: 0 0 20%;
	max-width: 20%;
  }
  .logo {
	top: -1rem;
  }
  .post-preview {
	padding-left: 10%;
  }
  #MainNav {
	padding-top: 2rem;
	ul {
	  li {
		padding: 0;
		a {
		  text-align: right;
		  border-left: none;
		}
	  }
	  &.sub-menu {
		li {
		  margin-bottom: 1rem !important;
		  a {
			background: unset;
		  }
		}
	  }
	}
  }
  .menu-col {
	justify-content: flex-end;
  }
  .back-to-menu, .sub-head {
	display: block !important;
  }
}
@media (max-width: 650px) {
  .logo {
	top: -0.5rem;
  }
  //.logo {
	//margin-top: -2.5rem;
  //}
  .header-tel {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	z-index: 33333;
	margin: 0;
	padding: size(10);
	background-color: #ffffff;
	border: 2px solid $green-theme;
	img {
	  margin: 0;
	}
	animation: jump 1.2s ease-in-out alternate infinite;
  }
  .tel-text {
	display: none;
  }
  .hop-hey.four-columns {
	column-count: 2;
	column-gap: 1rem;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .header-logo-col {
	flex: 0 0 25%;
	max-width: 25%;
  }
  .contacts-footer-menu {
	order: 3;
  }
  .links-footer-menu {
	order: 2;
  }
  .form-group {
	padding: 0 25px;
  }
  .col-news {
	margin-bottom: 2rem;
  }
  .home-post-item-img {
	flex: 0 0 45%;
	max-width: 45%;
  }
  .close-form {
	img {
	  width: size(25);
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .contact-form-col {
	.form-col {
	  padding: 5%;
	}
  }
  .home-post-item-img {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 10px;
  }
  .home-post-item-wrap {
	flex-direction: column;
	margin-bottom: 2rem;
  }
  .logo-link {
	img {
	  width: size(136);
	}
  }
  .header-logo-col {
	flex: 0 0 30%;
	max-width: 30%;
	margin-right: 1rem;
  }
  header {
	padding: 1.5rem 0;
  }
  .logo {
	top: -1rem;
  }
}
@media (max-width: 400px) {
  .header-logo-col {
	flex: 0 0 35%;
	max-width: 35%;
  }
  //header {
	//padding: 1rem 0;
  //}
  .wrap-search {
	padding: 0;
  }
  .logo {
	top: -1rem;
  }
  .tel-head-col {
	display: none !important;
  }
  .search-input {
	width: 5.5rem;
  }
}
