@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "header-footer";
@import "partials";

body{
  font-family: Almoni, sans-serif;
  color: $brown;
  text-align: right;
}
.container-fluid {
  width: 90%;
}
.page-body {
  padding: size(70) 0;
}
.base-title {
  @include base-title;
  margin-bottom: 0;
  color: $brown;
}
.base-text {
  @include base-24-text;
}
.base-text-20 {
  @include base-text;
  text-align: center;
  margin-bottom: size(14);
}
.base-output {
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $brown;
	font-weight: 700;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(25);
	line-height: size(26);
  }
  h6 {
	font-size: size(21);
	line-height: size(22);
  }
  p, li {
	@include base-text;
  }
  ul {
	margin: size(30) 0;
  }
  li {
	list-style: disc;
	margin-bottom: size(15);
  }
}
.about-text-output {
  * {
	text-align: center;
  }
  p {
	margin-bottom: size(45);
  }
}
.block-text {
  * {
	text-align: center;
  }
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $brown;
	font-weight: 700;
  }
  h3 {
	font-size: size(34);
	line-height: size(36);
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	font-size: size(28);
	line-height: size(30);
  }
  h6 {
	font-size: size(25);
	line-height: size(27);
  }
  p, li {
	@include base-24-text;
	text-align: center;
  }
  ul {
	margin: size(15) 0;
  }
  li {
	list-style: disc;
	margin-bottom: size(15);
  }
}
//Single.php
.post-text-output {
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $brown;
	font-weight: 700;
  }
  h3 {
	font-size: size(34);
	line-height: size(36);
  }
  h4 {
	font-size: size(32);
	line-height: size(34);
  }
  h5 {
	font-size: size(30);
	line-height: size(32);
  }
  h6 {
	font-size: size(28);
	line-height: size(30);
  }
  p, li {
	@include mid-text;
  }
  p {
	margin-bottom: size(36);
  }
  ul {
	margin: size(15) 0;
  }
  li {
	list-style: disc;
	margin-bottom: size(20);
	margin-right: 1rem;
  }
  img {
	width: 100%;
	height: auto;
	margin: size(20) 0;
  }
}
.video-post {
  margin: size(30) 0;
}
.post-video-item {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  &:after {
	display: block;
	content: '';
	padding-bottom: 49%;
  }
}
.put-video-here {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  iframe {
	width: 100%;
	height: 100%;
  }
}
.banner-block {
  margin: size(30) 0;
  img {
	width: 100%;
  }
}
.same-posts-block, .content-gallery-block, .slider-base-wrap {
  margin: size(30) 0;
}
.base-link {
  font-size: size(18);
  line-height: size(18);
  font-weight: 400;
  color: $brown;
  background-image: url("../icons-all/link-arrow.png");
  background-repeat: no-repeat;
  background-size: size(12);
  padding-left: size(25);
  background-position: 5px;
  transition: background-position .5s;
  &:hover {
	color: $brown;
	background-position: 0;
	transition: background-position .5s;
  }
}
//Gallery on page post
.gallery-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  &:after {
	content: '';
	display: block;
	padding-bottom: 99%;
  }
}
.slide-gallery {
  padding: 5px;
}
.iframe-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: size(12);
  background-color: $green-theme;
  margin-bottom: size(75);
}
.iframe-map iframe {
  width: 100%;
  height: 300px;
}
.gallery-slider-col {
  margin-bottom: 2rem;
}
.home-tel {
  color: $green-theme;
  transition: color .5s;
  &:hover {
	color: $brown;
	transition: color .5s;
  }
}
.home-info-block {
  margin-bottom: 10px;
  .post-subtitle {
	margin-bottom: 5px;
	transition: color .5s;
	&:hover {
	  color: $brown;
	  transition: color .5s;
	}
  }
}
//Blog page
.load-more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include base-24-text;
  min-height: size(38);
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: size(8) size(60);
  background-position: size(20);
  background-size: size(13);
  background-repeat: no-repeat;
  background-image: url("../icons-all/select-arrow.png");
  cursor: pointer;
}
.load-more-posts.hide {
  display: none;
}
.more-link-places.hide {
  display: none;
}
//Categories
.page-block {
  padding-top: size(30);
}
.cat-main-back {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
	content: '';
	display: block;
	padding-bottom: 27.5%;
  }
}
.home-main-back {
  &:after {
	padding-bottom: 8%;
  }
}
.locations-block {
  margin-top: size(40);
}
.departments-block {
  margin: size(50) 0;
}
//Block with posts
.title-row {
  background-image: url("../img/title-line.png");
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: $brown;
  margin-bottom: size(39);
  padding: size(12) size(24);
}
.subtitle-post-block {
  @include base-24-text;
  font-weight: 700;
  color: $green-theme;
}
.base-link-white {
  font-size: size(16);
  line-height: size(18);
  color: #ffffff;
  background-image: url("../icons-all/arrow-left.png");
  &:hover {
	color: $green-theme;
  }
}
.col-repeat-post {
  .post-item-content {
	width: 100%;
  }
}
//Homepage 2
.col-news {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.news-line {
  padding: 8px size(35);
  background-color: rgba(150, 180, 51, 0.05);
  transition: background-color .5s;
  border-bottom: 1px solid rgba(43, 30, 3, 0.4);
  &:hover {
	background-color: rgba(150, 180, 51, 0.21);
	transition: background-color .5s;
  }
}
.post-preview-small {
  @include small-text;
  color: $brown;
}
//Block with posts on homepage 2
.col-link-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: size(83) 10% 5% 10%;
}
.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: size(15);
  img {
	width: size(236);
  }
}
//Search
.search-title {
  color: $green-theme;
  font-size: size(48);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(48);
  text-align: center;
}
.search-text {
  @include base-title;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}
//cats
.cat-block-search {
  padding-left: 10%;
  margin-bottom: size(40);
}
.cat-item-list {
  width: 85%;
  border-bottom: 1px solid #000000;
  padding: size(13) 0 size(8) 0;
  .base-text {
	transition: color .5s;
	&:hover {
	  color: $green-title;
	  transition: color .5s;
	}
  }
}
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: size(10);
  label {
	@include small-text;
	font-weight: 700;
	color: $brown;
	margin-bottom: 0;
  }
  input {
	margin-left: 10px;
  }
}
.search-place {
  height: size(36);
  background-color: $brown;
  padding: 5px size(39);
  @include base-24-text;
  color: #ffffff;
  cursor: pointer;
  margin-top: 1rem;
  transition: color, background-color .5s;
  &:hover {
	color: $brown;
	background-color: $green-theme;
	transition: color, background-color .5s;
  }
}

@import "responsive";
